* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 920px;
    margin: 0 auto;
}

.header {
    color: #1e282e;
}

.logo{
    font-family:Verdana;
    font-size: large;
    font-weight: 100;
    color: #1d5f9f;
}

.logo p span{
    font-size: xx-large;
}

form {
    width: 100%;
}

.center {
    text-align: center;
}

.right{
    text-align: right;
}


.btn {
    background: #1d5f9f;
    color: aliceblue;
    padding: 1em 1.5em;
    margin-top: 1em;
    border-radius: 0.5em;
    border: none;
    border: 1px solid white;
    box-shadow: 0 0 0.2em black;
}

    .btn:disabled {
        background: gray;
        color:black;
        border: none;
        border: 1px solid #e4e4e4;
    }

.infoBtn{
    width: 100%;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0 0 0.2em black;
}


.LblCellHead {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid white;
    background: #cadff4;
    width: 35%;
    font-weight: bold;
    color:#1e282e;
}

.LblCellData {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid white;
    background: #e1f0ff;
    width: 65%;
    color: #1e282e;
}

.bodyContainer {
    width: 700px;
    float: right;
    padding: 0.3em;
    margin-bottom: 2em;
}

footer{
    display: block;
    width: 100%;
    clear:both;
    text-align:center;
    padding: 2em 0;
    border-top: 1px solid gray;
}

.menu_container {
    float: left;
    width: 200px;
    margin: 0 auto;
    margin-top: 0.5em;
}

.main_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .main_menu a {
        text-decoration: none;
        margin: 0;
        
    }


        .main_menu a li {
            text-align: center;
            display: inline-block;
            padding: 0.5em 1em;
            width: 200px;
            border: none;
            background: #1d5f9f;
            color: aliceblue;
            border-radius: 0.5em;
            margin-bottom: 0.5em;
        }


            .main_menu a li:hover {
                background: #5eaefb;
                color: #152b40;
            }



/*Home Styles*/

.HomeImg {
    width: 100%;
}


/*Customer Entry Styles*/

.textField {
    padding: 0.5em;
    font-size: 12px;
    width: 50%;
    border: none;
    border: 1px solid #1e282e;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.CustTxtLbl {
    display: inline-block;
    padding: 0.2em 0;
    color: #1e282e;
}

.ErrLbl {
    color: #ff0000;
}


/*Customer View Info Styles*/

.custViewInfo {
    margin-top: 0.5em;
    border: 1px solid white;
    box-shadow: 0 0 0.1em black;
    border-radius: 1em;
    overflow: hidden;
}


/*View All Customers Styles*/

.ViewAllCustomers,
.ViewAllOrders{
    width: 90%;
    margin: 0 auto;
}


/*Place an Order Styles*/

.RightColOrder{
    float: right;
    width:50%;
}

.LeftColOrder{
    float:left;
    width: 50%;
}

.total{
    clear: both;
}